# FETCH API KEY FROM https://platform.claude.com/settings/keys
# SET API KEY IN BASH WITH `export VITE_ANTHROPIC_API_KEY=sk-xxx` 
# OR CREATE A .env FILE IN THE ROOT OF THE PROJECT WITH THE FOLLOWING CONTENT:

VITE_ANTHROPIC_API_KEY=sk-xxx
